<section id="about-main">
<h1>{{ title }}</h1>

<section class="card-section">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../images/gc.png" alt="Georgian college picture">
  <div class="card-body">
    <h5 class="card-title">Education</h5>
    <p class="card-text">I have a previous undergraduate degree from York University. Currently,
        I am in the process of completing a computer programming diploma from Georgian College.
    </p>
    <a href="https://cat.georgiancollege.ca/programs/cmpg/" class="btn btn-primary">View Program</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../images/github.png" alt="Github logo">
  <div class="card-body">
    <h5 class="card-title">Github Repository</h5>
    <p class="card-text">A link to the projects I've completed.</p>
    <a href="https://github.com/StefanSaladino" class="btn btn-primary">Check out my repos!</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../images/carousel-1.jpg" alt="dog">
  <div class="card-body">
    <h5 class="card-title">Behind the scenes</h5>
    <p class="card-text">A little about the man behind the screen! In my spare time, I enjoy playing
        hockey, baseball, and working out. I also have a german shepherd mix named Dino.</p>
    <a href="https://www.instagram.com/stefansaladino/" class="btn btn-primary">Check out my Instagram</a>
    </a>
  </div>
</div>
</section>

 <h2>My Skillset</h2>
 <p>Here are some of the languages and frameworks that I am familiar with!</p>

 
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="frameworks" autocomplete="off" checked> Frameworks
  </label>
    <label class="btn btn-secondary">
    <input type="radio" name="options" id="languages" autocomplete="off"> Languages
  </label>
 </div> 



<section class="second-card-group" id="frameworks-card">
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../images/asp.png" alt="ASP logo">
  <div class="card-body">
    <h5 class="card-title">ASP.NET</h5>
    <p class="card-text"> A web application framework developed by Microsoft that allows developers to build dynamic websites, web applications, and web services.</p>
    </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../images/express.png" alt="Express logo">
  <div class="card-body">
    <h5 class="card-title">Express.js</h5>
    <p class="card-text">A minimalist web application framework for Node.js, designed for building web applications and APIs</p>
    </a>
  </div>
</div>

 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../images/jfx.png" alt="java fx logo">
  <div class="card-body">
    <h5 class="card-title">JavaFX</h5>
    <p class="card-text">A Java framework used for creating rich desktop applications.</p>
    </a>
  </div>
  </div>
</section>  

<section class="second-card-group" id="languages-card">
 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../images/java.png" alt="java logo">
  <div class="card-body">
    <h5 class="card-title">Java</h5>
    <p class="card-text">Java is a versatile, object-oriented programming language used for 
        building cross-platform applications, 
        ranging from enterprise-level applications to Android apps.</p>
    </a>
  </div>
  </div>

 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../images/py.png" alt="Python logo">
  <div class="card-body">
    <h5 class="card-title">Python</h5>
    <p class="card-text">Python is a high-level, interpreted language known for its simplicity and readability, 
        widely used in web development, data science, automation, and scientific computing.</p>
    </a>
  </div>
  </div>

 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../images/cs.png" alt="C sharp logo">
  <div class="card-body">
    <h5 class="card-title">C#</h5>
    <p class="card-text">C# is a modern, object-oriented programming language developed by Microsoft, 
        commonly used for developing Windows applications and game development with Unity.</p>
    </a>
  </div>
  </div>

 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../images/kotlin.png" alt="Kotlin logo">
  <div class="card-body">
    <h5 class="card-title">Kotlin</h5>
    <p class="card-text">Kotlin is a statically-typed programming language that runs on the 
        Java Virtual Machine (JVM) and is officially supported for Android development, 
        known for its concise syntax and interoperability with Java.</p>
    </a>
  </div>
  </div>

 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../images/swift.png" alt="Swift logo">
  <div class="card-body">
    <h5 class="card-title">Swift</h5>
    <p class="card-text">Swift is a powerful, open-source programming language developed by Apple, 
        designed for building iOS, macOS, watchOS, and tvOS applications with safety and performance in mind.</p>
    </a>
  </div>
  </div>

 <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="../images/js.png" alt="Javascript logo">
  <div class="card-body">
    <h5 class="card-title">Javascript</h5>
    <p class="card-text">JavaScript is a dynamic, 
        interpreted language primarily used for enhancing interactivity 
        and user experience in web development.</p>
    </a>
  </div>
  </div>
</section>
</section>

