<section id="contact-main">
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"></span>
  </div>
  <input type="text" class="form-control" placeholder="Your Name" aria-label="name" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Your email" aria-label="user-email" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <span class="input-group-text" id="basic-addon2"></span>
  </div>
</div>

<div class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Your Message</span>
  </div>
  <textarea class="form-control" aria-label="With textarea"></textarea>
</div>

</section>