<section id="contact-main">
<h1>{{title}}</h1>
<p>Drop me an email, I'd love to hear from you!</p>    
<div class="input-group mb-3" id="input-n">
  
  <input type="text" class="form-control" placeholder="Your Name" aria-label="name" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3" id="input-e">
  <input type="text" class="form-control" placeholder="YourEmail@example.com" aria-label="user-email" aria-describedby="basic-addon2">
  
</div>

<div class="input-group" id="input-text-area">
  
  <textarea class="form-control" aria-label="With textarea" placeholder="Your message"></textarea>
</div>

<button class="btn btn-primary" type="submit">Submit</button>

</section>