<section id="proj-main">
<h1>{{ title }}</h1>
<h2>This page details just a few projects I developed in various langauges</h2>
<p> I am currently working on developing projects in Swift, Kotlin, and Express</p>
    <div class="container mt-5">
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Blackjack card game
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is a blackjack game I developed in Javascript</strong> 
                        <p>I developed this game in 2023. It implements a card deck API.</p>
                    </div>
                    <a class="btn btn-primary" href="https://github.com/StefanSaladino/card-game" role="button">Check it Out!</a>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Home Run Derby Game
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is a home run derby game I developed in 2022.</strong>
                        <p>I developed this game when I first started programming. In the near future, I will be
                            working on refactoring the game for better encapsulation and adding a GUI.
                        </p>                    
                        </div>
                        <a class="btn btn-primary" href="https://github.com/StefanSaladino/ProgrammingFundamentals" role="button">Check it Out!</a>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Pitch Release Tracker
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>This is a JavaFX app I developed.</strong> It tracks the release point of various pitch types across 40 different MLB pitchers, and graphs it.
                        The purpose of the app is to determine if a more consistent release point across pitches is 
                        indicative of performance in some way.
                    </div>
                    <a class="btn btn-primary" href="https://github.com/StefanSaladino/Pitch-Release-Tracker" role="button">Check it Out!</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JavaScript (Make sure it is after your accordion HTML) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>


</section>