<div class="container-fluid" id="restricted-div">
  <h1 id="restricted-h1">Restricted Access</h1>
  <p id="restricted-p">You do not have the necessary permissions to access this page. Please log in with an account that has the appropriate permissions.</p>
  <a href="/" class="btn btn-primary">Go to Home</a>
  <a href="/login" class="btn btn-primary">Login</a>
</div>