<div class="suspended-container">
  <div class="suspended-content">
    <h1>Your Account Has Been Suspended</h1>
    <p>We regret to inform you that your account has been suspended. If you believe this is a mistake or if you need more details, please contact our administrator team.</p>
    <p>You can reach us at: <a href="mailto:placefinder50@outlook.com">placefinder50@outlook.com</a></p>
  </div>
</div>
