body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


#index-main, #GS-main {
  position: relative;
  height: 75vh; 
  background: url('/images/restaurant-bg.jpg') no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 2em;
}

#GS-main{
  background: url('/images/gs-bg.jpg') no-repeat center center;
  background-size: cover;
}

/* Use ::after pseudo-element to darken the background */
#index-main::after, #GS-main::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); 
  z-index: 1; /* Ensure the overlay is above the background */
}

/* Ensure the button and form are above the overlay */
#searchButton, #searchForm, #searchButtonContainer, #searchText, #searchGasStationsButton {
  position: relative;
  z-index: 2;
}

#searchButtonContainer{
  width: 25%;
}

#searchText{
  color: white;
  width: 75%;
  font-size: 1.2rem;
}

#missionStatement{
  padding: 2em;
}

#missionStatement p{
  padding: 3em 2em;
  border-bottom: 2px solid black;
  margin: 1em 0;
}

#missionStatement h2{
  text-align: center;
}